        html{

         height: 100%;
         width: 100%;

       }

        body {
            /* Workaround for some mobile browsers */
            min-height:100%;    
            padding-top: 20px;
            padding-bottom: 20px;   
            background:url('newhomepage.jpg') no-repeat center center;
            background-size:cover;  

            /* Workaround for some mobile browsers */
            min-height:100%;    
            padding-top: 20px;
            padding-bottom: 20px;
            /* The Magic */
            background-size:cover;           
        }

        .navbar {
            margin-top: 0px;
            margin-bottom: 0px;
        }